footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 70px;
  background-color: lightgray;
  border-radius: 5px;
}

.keyboard-block__wide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  background-color: lightgray;
  border-radius: 5px;
}
