header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.wordle-menu {
  display: flex;
  gap: 10px;
}

.settings {
  display: flex;
  gap: 10px;
}

.settings-subscribe {
  border: 2px solid black;
  padding: 10px;
  border-radius: 30px;
}
