main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightgray;
  width: 60px;
  height: 60px;
}

.gameoverMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  /*요소의 값만큼 뒤로 밑으로해서 가운데 정렬*/
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: shape;
  animation-duration: 2s;
}

@keyframes shape {
  from {
    background-color: white;
  }
  to {
    background-color: yellow;
  }
}
